*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav{
      height: 15vh;
      background: #5585b5;
      width: 100%;

  }
  .nav-links{
      display: flex;
      list-style: none;
      height: 100%;
      width: 50%;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
  }

  .nav-links li a{
      color: #f3f3f3;
      text-decoration: none;
      font-size: 21px;
  }
  .body{
      font-family: sans-serif;
  }
  .landing{
      height: 85vh;
  }
  