.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .header {
      font-size: 20px;
    }
  
    .content {
      display: flex;
      flex-direction: column;
  
      .image {
          
        img {
            
            height: 9em;
            width: 13em;
          
        }
      }
  
      .form {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 15px;
          }
          .error{
        //     margin-top: 6px;
            display: flex;
            flex-direction: column;
            min-width: 12em;
            height: 14px;
            font-size: 12px; 
            color: red;
            margin-top:0;
          }
          input {
            margin-top: 3px;
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            // font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 15px;
            transition: all 250ms ease-in-out;
            // &:hover {
            //   background-color: #ffffff;
            //   box-shadow: 0px 0px 14px 0.3px #0e81ce96;
            // }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #3474dbb2;
            }
          }
        }
      }
    }
  
    .footer {
      margin-top: 3em;
    }
    //Button
.btn {
    position:absolute;
    bottom: 2em;
    left:180px;
    justify-self: center;
    font-size: 19px;
    padding: 7px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #2386c8;
    }
    &:focus {
        outline: none;
  }
}
  }