:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --blue:#091227;
  --white: #fff;
  --background: rgb(244, 250, 252);
}#f1f4f6

html {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}